@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

body{
    margin: 0;
}

#nav-bar{
    background-color: #ff5a60;
    display: flex;
    justify-content: space-between;
    padding: 25px;
}

#back-btn{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2rem;
    color: white;
}

.nav-title{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2rem;
    color: white;
    text-transform: uppercase;
}